*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: #000;
    color: #fff;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

img{
    width: 50%;
}

.btn:hover{
    color: #fff;
}

ul,a {
    color: #fff;
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* navbar */

.navbar{
    position: fixed;
    background: #000;
    width: 100%;
    height: 80px;
}

.navbar .logo{
    position: fixed;
    font-size: x-large;
}

.navbar .container{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.navbar ul{
    position: fixed;
    width: 90%;
    display: flex;
    justify-content: end;
}

.navbar ul li{
    margin-right: 40px;
}

.navbar ul li a:hover{
    color: rgba(255, 0, 0, 0.661);
}

/* home */

#home{
    width: 100%;
    background-image: url('/images/dp.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    
}

#home .home-text h1{
    font-size: 40px;
}

#home .home-text h3 {
    font-size: 20px;
}

.home-text{
    width: 60%;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    height: 100vh;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background: #75775b;
    border: 0px ; 
    border-radius: 4px;
    color: #fff;
}

/* status */

.status{
    background: #fff;
    width: 100%;
}

.status ul{
    display: flex; 
    color: #000;
    justify-content: space-between;
    padding: 40px 0px 40px 0px;
}

.status ul li{
    display: flex;
    flex-direction: column;
}

.status ul li {
    text-align: center;
}

/* about */

#about {
    width: 100%;
    padding: 20px 0px 20px 0px;
}

#about .container{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.about-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.information{
    display: flex;
    justify-content: space-between;
}

.information .start {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.information .end{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

/* skills */

#skills{
    width: 100%;
    padding: 60px 0px 20px 0px;
    background: #fff;
}

#skills .container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.skill-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    margin-top: 20px;
}

.skill-box {
    background: #000;
    color: #fff;
    border-radius: 6px;
    border: 0.1em solid rgb(208, 208, 208);
    padding: 60px;
    margin: 20px;
    flex-basis: 25%;
}

.skill-box:hover {
    background: #fff;
    color: #000;
    border-radius: 6px;
    border: 0.1em solid #000;
    padding: 60px;
    margin: 20px;
    flex-basis: 25%;
}

/* services */

#services {
    width: 100%;
    padding: 60px 0px 20px 0px;
}

#services .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.services-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}

.services-box {
    background: #fff;
    color: #000;
    border-radius: 6px;
    border: 0.1em solid rgb(208, 208, 208);
    padding: 50px;
    margin: 20px;
    flex-basis: 25%;
}

.services-box i {
    background: #B1B493;
    color: #fff;
    padding: 20px;
    border-radius: 100%;
    margin-top: -100%;
    margin-bottom: 30px;
}

.services-box:hover{
    background: #000;
    color: #fff;
    border-radius: 6px;
    border: 0.1em solid rgb(208, 208, 208);
    padding: 50px;
    margin: 20px;
    flex-basis: 25%;
}

.services-box:hover i{
    transition-duration: 0.5s;
    background: #fff;
    color: #B1B493;
    padding: 20px;
    border-radius: 100%;
    margin-top: -100%;
    margin-bottom: 30px;
}

/* banner contact */

.banner {
    background: #fff;
    width: 100%;
}

.banner{
    width: 100%;
    margin: 20px 0px 20px 0px;
}

.banner .container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: auto;
    color: #000;
    padding: 30px;
}

/* Projects */

#projects{
    width: 100%;
    padding: 60px 0px 20px 0px;
}

#projects .container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.projects-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}

.projects-box {
    background: #fff;
    color: #000;
    border-radius: 6px;
    border: 0.1em solid rgb(208, 208, 208);
    padding: 50px;
    margin: 20px;
    flex-basis: 25%;
}

.projects-box:hover {
    background: #000;
    color: #fff;
    border-radius: 6px;
    border: 0.1em solid rgb(208, 208, 208);
    padding: 50px;
    margin: 20px;
    flex-basis: 25%;
}

.projects-boxes i {
    background: #B1B493;
    color: #fff;
    padding: 20px;
    border-radius: 100%;
    margin-top: -100%;
    margin-bottom: 30px;
}

/* contact */

#contact{
    background: #fff;
    color: #000;
    width: 100%;
    padding: 20px;
}

#contact .container{
    gap: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#form-1{
    display: flex;
    gap: 10px;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

input{
    height: 30px;
}

/* footer */

#main-footer{
    font-size: large;
    font-weight: bold;
    text-align: center;
    width: 100%;
    background-color: #000;

    color: #fff;
    padding: 20px;
}

@media(max-width: 800px){
    .status ul{
        display: block;
    }
    img{
        background-size: contain;
        width: 60%;
    }
}

@media(max-width: 1050px) {
    #about .container {
        justify-content: start;
            flex-direction: column;
        }
}

@media(max-width: 935px) {
    .home-text{
        width: 100%;
    }
    .navbar ul{
        display: none;
    }
    .skill-box {
        flex-basis: 100%;
    }
    .skill-box:hover{
        flex-basis: 100%;
    }
    .services-box{
        flex-basis: 100%;
    }
    .services-box:hover{
        flex-basis: 100%;
    }
    .projects-box {
        flex-basis: 100%;
    }
    .projects-box:hover{
        flex-basis: 100%;
    }
}